@font-face {
        font-family: "titulos" ;
        src: url("../Fuentes/nunito-sans.bold.ttf");
    }
@font-face {
    font-family: "texto";
    src: url(../Fuentes/nunito-sans.regular.ttf);
}

h1{font-family: "titulos";
    color: black;
    font-size: 3rem;
}

h4{font-family: "titulos";
    color: black;
    font-size: 2rem;

}
p, li {
    font-family: "texto";
    color: black;
    font-size: 2rem; 
}
strong{
    font-family: "titulos";
    color: black;
    font-size: 2rem;
}

main div h1{

    text-align: center;
}

main div {
    margin: 4%;
    
}

